name: Publish application

on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches:
      - develop
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

env:
  NODE_VERSION: 12.x
  PROJECT_ID: hubvisory-game

jobs:
  dependencies:
    name: Install the dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: node_modules cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ github.sha }}-${{ github.run_id }}
  deploy:
    name: Deploy App on GAE
    runs-on: ubuntu-latest
    needs: [dependencies]
    steps:
      - uses: actions/checkout@v2

      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GAE_CREDENTIALS}}'

      - id: 'secrets'
        uses: 'google-github-actions/get-secretmanager-secrets@v0'
        with:
          secrets: |-
            DEPLOY_TOKEN:projects/${{ env.PROJECT_ID }}/secrets/deploy_token/versions/latest

      - name: node_modules cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ github.sha }}-${{ github.run_id }}

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Build the App
        run: npm run build

      - name: Get the release version
        run: |
          # If the commit ref points to a tag the we use the extracted tag name, otherwise develop
          if [[ ${{ github.ref }} == *"tag"* ]]; then
            echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" | sed "s/\./-/g" >> $GITHUB_ENV
          else
            echo "RELEASE_VERSION=develop" >> $GITHUB_ENV
          fi

      - name: Deploy to development App Engine
        if: ${{ contains(github.ref, 'snapshot') || env.RELEASE_VERSION == 'develop' }}
        uses: google-github-actions/deploy-appengine@main
        with:
          deliverables: app.dev.yaml
          project_id: ${{ env.PROJECT_ID }}
          credentials: ${{ steps.secrets.outputs..DEPLOY_TOKEN }}
          promote: false
          version: ${{ env.RELEASE_VERSION }}

      - name: Deploy to production App Engine
        if: ${{ !contains(github.ref, 'snapshot') && env.RELEASE_VERSION != 'develop' }}
        uses: google-github-actions/deploy-appengine@main
        with:
          deliverables: app.prod.yaml
          project_id: ${{ env.PROJECT_ID }}
          credentials: ${{ steps.secrets.outputs.DEPLOY_TOKEN }}
          promote: false
          version: ${{ env.RELEASE_VERSION }}
